<div class="details-container">
    <h2>Personal Details</h2>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="firstName">First Name</label>
            <input type="text" formControlName="firstName" class="form-control" 
                [ngClass]="{ 'is-invalid': submitted && form.controls['firstName'].errors }" />
            <div *ngIf="submitted && form.controls['firstName'].errors" class="invalid-feedback">
                <div *ngIf="form.controls['firstName'].errors['required']">First Name is required</div>
            </div>
        </div>
        <div class="form-group">
            <label for="lastName">Last Name</label>
            <input type="text" formControlName="lastName" class="form-control" 
                [ngClass]="{ 'is-invalid': submitted && form.controls['lastName'].errors }" />
            <div *ngIf="submitted && form.controls['lastName'].errors" class="invalid-feedback">
                <div *ngIf="form.controls['lastName'].errors['required']">Last Name is required</div>
            </div>
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" formControlName="email" class="form-control" 
                [ngClass]="{ 'is-invalid': submitted && form.controls['email'].errors }" />
            <div *ngIf="submitted && form.controls['email'].errors" class="invalid-feedback">
                <div *ngIf="form.controls['email'].errors['required']">Email is required</div>
                <div *ngIf="form.controls['email'].errors['email']">Email must be a valid email address</div>
            </div>
        </div>
        <div class="form-group">
            <button [disabled]="loading" class="btn btn-primary">
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                Save Changes
            </button>
        </div>
    </form>
</div>

